@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --brand: #3975eb;
  --black: rgb(21, 23, 24);
  --nav-border: #edefeb;
  --btn-border: #f5f5f5;
  --border: #3b3838;
  --white: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
img {
  max-width: 100%;
}
header {
  border-bottom: 1px solid var(--nav-border);
}

.navbar {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 100%;
  max-width: 180px;
}
#sidemenu-btn {
  height: 55px;
  width: 55px;
  background-color: var(--white);
  color: var(--black);
  display: inline-block;
  text-align: center;
  line-height: 55px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  opacity: 0.76;
  border: 1px solid var(--btn-border);
  box-shadow: 0px 6px 12px rgba(74, 74, 74, 0.07);
  border-radius: 8px;
  cursor: pointer;
}

.sidemenu-area {
  position: fixed;
  inset: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(24, 24, 24, 0.6);
  visibility: visible;
  opacity: 1;
  transition: 0.45s ease-in-out;
}
.sidemenu-container {
  padding: 50px;
  background-color: var(--black);
  width: 100%;
  max-width: 400px;
  scrollbar-width: none;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
}
